{
  "presets": ["@babel/preset-env"],
  "plugins": [
    "@babel/plugin-proposal-decorators",
    [
      "@babel/plugin-transform-runtime",
      {
        "polyfill": false,
        "regenerator": true
      }
    ]
  ]
}
